.mat-primary{
    --mdc-icon-button-icon-color: #e91e63!important;
    --mat-mdc-button-persistent-ripple-color: #e91e63!important;
    --mat-mdc-button-ripple-color: rgba(233, 30, 99, 0.1)!important
}

.custom-btn{
    background-color: rgb(29 78 216)!important;
    color: rgb(247, 247, 247)!important
  }