<h2 class="dark:text-slate-100 text-slate-800 mb-2">ANNUAL KATARUNGANG PAMBARANGAY REPORT</h2>
<div class="w-[100%] flex justify-between">
  <button type="button" mat-button (click)="generatePDF()" class="custom-btn">
    <mat-icon class="mr-1">launch</mat-icon>
    Export
  </button>
</div>

<table>
  <thead>
    <tr>
      <th colspan="4" rowspan="2">Nature of cases filed</th>
      <th colspan="9">Action taken</th>
      <th rowspan="3">Estimated Gov't Savings (Php)</th>
    </tr>
    <tr>
      <th colspan="4">Settled</th>
      <th colspan="5">Unsettled</th>
    </tr>
    <tr>
      <th>Criminal</th>
      <th>Civil</th>
      <th>Others</th>
      <th>Total</th>
      <th>Mediated</th>
      <th>Conciliated</th>
      <th>Arbitrated</th>
      <th>Total</th>
      <th>Repudiated</th>
      <th>Dismissed/Withdrawn</th>
      <th>Certified</th>
      <th>Pending</th>
      <th>Total</th>
    </tr>
  </thead>
</table>
